* {
    margin: 0;
    font-family: sans-serif;
}

html {
    /* background-image: url('background1.jpeg'); */
    background-color: #f5f2f2;
}


aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #2f2a2a;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside h1 {
    margin-top: 0;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

aside nav ul li {
    margin-bottom: 27px;
}

aside nav a {
    color: #ddd;
    text-decoration: none;
}

aside nav a:hover {
    color: white;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 260px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

header ul {
    list-style: none;
    margin: 20px;
    padding: 20px;
    display: flex;
}

header li {
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: #444;
    padding: 30px;
}

header a:hover {
    color: rgb(236, 209, 119);
}

main {
    margin-left: 270px;
    margin-right: 30px;
    margin-top: 60px;
    padding: 40px;
}

section {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.progress-bar {
    width: 300px;
    height: 14px;
    background-color: #eee;
    border-radius: 10px;
    margin-left: 30px;
}

.progress-fill {
    height: 100%;
    border-radius: 10px;
}

.safe {
    background-color: #4CAF50;
}

.over50 {
    background-color: orange;
}

.over80 {
    background-color: red;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 25px;
}

h4 {
    font-size: 16px;
    margin-top: 15px;
    color: #555;
}

button {
    margin: 5px;
}

.quick-section {
    margin-top: 20px;
}

p {
    margin-left: 30px;
    margin-top: 5px;
}

table input {
    width: 80px;
}

table select {
    width: 90px;
}

.flash-container {
    margin-bottom: 20px;
}

.flash {
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    animation: fadeOut 4s forwards;

    background-color: #d4edda;
    color: #155724;
    border-left: 4px solid #28a745;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

form {
    margin-left: 30px;
}