{% extends "base.html" %}

{% block main_content %}

<h2>Add Transactions</h2>
<p>If there's no category, please add a new category below first.</p>
<br>
<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

    {{ form.currency.label }}
    {{ form.currency() }}
    {% for error in form.currency.errors %}
    {{ error }}
    {% endfor %}
    <br>
    <br>

    {{ form.amount.label }}
    {{ form.amount() }}
    {% for error in form.amount.errors %}
    {{ error }}
    {% endfor %}
    <br>
    <br>

    {{ form.type.label }}
    {{ form.type(onchange="this.form.submit()") }}
    {% for error in form.type.errors %}
    {{ error }}
    {% endfor %}
    <br>
    <br>

    <label>Category</label>
    <select name="category">
        {% for c in categories %}
        <option value="{{ c.name }}">{{ c.name }}</option>
        {% endfor %}
    </select>
    <br>
    <br>

    {{ form.description.label }}
    {{ form.description() }}
    <br>
    <br>

    {{ form.submit() }}

</form>

<p>
    <a href="{{ url_for('personal') }}">See your account</a>
</p>

<h4>Add a new category</h4>
<form action="{{ url_for('add_category') }}" method="post">
    <input type="text" name="name" placeholder="New category" required>
    <select name="type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
    </select>
    
    <button type="submit">Add category</button>
</form>

{% endblock %}