{% extends "base.html" %}

{% block main_content %}

<h1>Add Transactions</h1>
<section>
    <p>
        <a href="{{ url_for('personal') }}">See your account</a>
    </p>
    <br>
    <br>
    <h3>Manual Entry</h3>
    <br>
    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}

        {{ form.currency.label }}
        {{ form.currency() }}
        {% for error in form.currency.errors %}
        {{ error }}
        {% endfor %}
        <br>
        <br>

        {{ form.amount.label }}
        {{ form.amount() }}
        {% for error in form.amount.errors %}
        {{ error }}
        {% endfor %}
        <br>
        <br>

        {{ form.type.label }}
        {{ form.type(onchange="this.form.submit()") }}
        {% for error in form.type.errors %}
        {{ error }}
        {% endfor %}
        <br>
        <br>

        <label>Category</label>
        <select name="category">
            {% for c in categories %}
            <option value="{{ c.name }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        {{ form.description.label }}
        {{ form.description() }}
        <br>
        <br>

        {{ form.submit() }}

    </form>
    <br>

    <div class="quick-section">
        <h3>Quick add</h3>
        <br>
        <p>Click a button below to quickly add a common transaction.</p>

        {% if quicks %}

        <h4>Income</h4>
        {% for q in quicks %}
        {% if q.type == "income" %}
        <form action="{{ url_for('quick_add', template_id=q.id)}}" method="post" style="display: inline;">
            <button type="submit">{{ q.category }} {{ q.currency }} {{ q.amount }}</button>
        </form>
        {% endif %}
        {% endfor %}

        <h4>Expenses</h4>
        {% for q in quicks %}
        {% if q.type == "expense" %}
        <form action="{{ url_for('quick_add', template_id=q.id)}}" method="post" style="display: inline;">
            <button type="submit">{{ q.category }} {{ q.currency }} {{ q.amount }}</button>
        </form>
        {% endif %}
        {% endfor %}

        {% else %}
        <br>
        <p><b>No quick templates yet. Add quick templates in Profile</b></p>
        {% endif %}
    </div>
</section>
{% endblock %}