<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <header>
        <nav class="top-nav">
            <ul>
                {% if g.user %}
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <aside>
        <h1>Expense Tracker</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_transactions') }}">Add Transactions</a></li>
                <li><a href="{{ url_for('personal') }}">All Transactions</a></li>
                <li><a href="{{ url_for('saving')}}">Saving Plan</a></li>
            </ul>
        </nav>
    </aside>

    <main>
        <section>
            {% block main_content %}
            {% endblock %}
        </section>
    </main>

</body>

</html>