{% extends "base.html" %}

{% block main_content %}

<h2>Categories</h2>
<br>

<form action="{{ url_for('add_category') }}" method="post">

    <select name="type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
    </select>
    <input name="name" placeholder="Category name" required>
    <button type="submit">Add category</button>
    <br>
</form>

<h3>Your Categories</h3>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Action</th>
    </tr>

    {% for c in categories %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.type }}</td>
        <td>
            <form action="{{ url_for('update_category', id = c.id) }}" method="post" style="display: inline;">
                <input name="name" value="{{ c.name }}">
                <select name="type">
                    <option value="expense" {% if c.type=='expense' %}selected{% endif %}>Expense</option>
                    <option value="income" {% if c.type=='income' %}selected{% endif %}>Income</option>
                </select>
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('delete_category', id = c.id) }}" method="post" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}