{% extends "base.html" %}

{% block main_content %}


<h1>Expense Tracker</h1>
<p>
    <a href="{{ url_for('add_transactions') }}">Add transactions</a>
</p>
<h2>This month: {{ month }}</h2>
<p>Recording days in this month: {{ record_days }} day(s)</p>
<br>

{% if not budget %}

<form action="{{ url_for('set_budget')}}" method="post">
    <label for="budget">Set your budget: </label>
    <input type="number" name="amount" step="0.01" required>
    <select name="currency">
        <option value="EUR">EUR</option>
        <option value="CNY">CNY</option>
    </select>
    <button type="submit">Save</button>
</form>

{% else %}

<p>
    Budget: {{ budget }} EUR
</p>
<div class="progress-bar">
    <div class="progress-fill {% if percentage > 80 %}over80{% elif percentage > 50 %}over50{% else %}safe{% endif %}"
        style="width: {{ percentage if percentage < 100 else 100 }}%">
    </div>
</div>
<p>
    Total spending: {{ expense }} EUR
</p>
<p>
    Remaining: {{ remaining }} EUR
</p>
<p>
    Income: {{ income }} EUR
</p>
<br>

<form action="{{ url_for('set_budget')}}" method="post">
    <label for="budget">Set your budget: </label>
    <input type="number" name="amount" step="0.01" placeholder="Update budget">
    <select name="currency">
        <option value="EUR">EUR</option>
        <option value="CNY">CNY</option>
    </select>
    <button type="submit">Update</button>
</form>
<br>

{% endif %}

<div class="quick-section">
<h3>Quick add</h3>
<p>Click a button below to quickly add a common transaction.</p>

{% if quicks %}

<h4>Income</h4>
{% for q in quicks %}
{% if q.type == "income" %}
<form action="/quick_add/{{ q.id }}" method="post" style="display: inline;">
    <button type="submit">{{ q.category }} {{ q.currency }} {{ q.amount }}</button>
</form>
{% endif %}
{% endfor %}

<h4>Expenses</h4>
{% for q in quicks %}
{% if q.type == "expense" %}
<form action="/quick_add/{{ q.id }}" method="post" style="display: inline;">
    <button type="submit">{{ q.category }} {{ q.currency }} {{ q.amount }}</button>
</form>
{% endif %}
{% endfor %}

{% else %}
<p>No quick templates yet.</p>
{% endif %}

<h3>Create a Quick Template</h3>
<p>Create a template for frequently used transactions</p>
<p>Once created, you can add them instantly using the buttons above.</p>
<br>
<form action="{{ url_for('add_template') }}" method="post">
    <select name="currency" required>
        <option value="EUR">EUR</option>
        <option value="CNY">CNY</option>
    </select>
    <input type="number" step="0.01" name="amount" placeholder="Amount" required>
    <select name="type" required>
        <option value="expense">Expense</option>
        <option value="income">Income</option>
    </select>
    <input type="text" name="category" placeholder="Category" required>
    <button type="submit">Add quick</button>
</form>

{% endblock %}
</div>