{% extends "base.html" %}

{% block main_content %}

<h1>All Transactions</h1>
<br>
<section>
    <h3>
        Your transactions
    </h3>
    <form action="" method="get">
        <input type="text" name="q" value="{{ request.args.get('q', '') }}" placeholder="Search description">
        <button type="submit">Search</button>

        <br>
        <br>

        <label>Category</label>

        <select name="category">
            <option value="">All</option>

            {% for c in categories %}
            <option value="{{ c['category'] }}" {% if request.args.get('category')==c['category'] %} selected {% endif
                %}>
                {{ c["category"] }}
            </option>
            {% endfor %}

        </select>
        <button type="submit">Filter</button>
    </form>

    <table>
        <tr>
            <th>Currency</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
        </tr>

        {% for row in content %}
        <tr>
            <td>{{ row["currency"] }}</td>
            <td>{{ row["amount"] }}</td>
            <td>{{ row["type"] }}</td>
            <td>{{ row["category"] }}</td>
            <td>{{ row["date"] }}</td>
            <td>{{ row["description"] }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

<a href="{{ url_for('add_transactions') }}">Add transaction</a>

{% endblock %}